#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

.navbar-brand {
    font-size: 1.7rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-decoration-underline:hover {
    text-decoration: underline !important;
}